fastapi==0.111.0
httpx==0.27.0
pydantic==2.7.1
uvicorn==0.29.0
sqlalchemy==2.0.29
passlib==1.7.4
python-jose==3.3.0
psycopg2-binary==2.9.9
email-validator==2.1.1
bcrypt==4.0.1
python-multipart==0.0.9





